<html>
<head>
<meta charset="utf-8">
<title>Sparrow - Change Password</title>
<link rel="stylesheet" href="/ui/login-style.css">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="/verifyPassword" class="form-signin">
            <label style="text-align: left">New Password:</label>
            <div class="input-group">
                <input type="password" name="newPassword" id="newPassword" tabindex="1" autofocus>
            </div>
            <label style="text-align: left">Confirm New Password:</label>
            <div class="input-group">
                <input type="password" name="cnfNewPassword" id="cnfNewPassword" tabindex="2">
            </div>
            <div class="input-group">
                <input class="btn" type="submit" id="change" value="Change Password" tabindex="3">
            </div>
            <!-- DO NOT remove the below part -->
            <table style="display: none;">
                {{range $k, $v := .}}
                <tr>
                    <td><input type="hidden" name="{{$k}}" value="{{$v}}" /></td>
                </tr>
                {{end}}
            </table>
        </form>
    </div>
</body>
</html>