<html>
<head>
<meta charset="utf-8">
<title>Login</title>
</head>
<body>
	<div>
		<form method="post" action="/verifyPassword">
			<table>
				<tr>
					<td><label style="text-align: left">New Password:</label></td>
					<td><input type="password" name="newPassword" id="newPassword">
					</td>
				</tr>
				<tr>
					<td><label style="text-align: left">Confirm New Password:</label></td>
					<td><input type="password" name="cnfNewPassword" id="cnfNewPassword">
					</td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" id="change" value="Change Password"></td>
				</tr>
				{{range $k, $v := .}}
				<tr>
					<td><input type="hidden" name="{{$k}}" value="{{$v}}" /></td>
				</tr>
				{{end}}
			</table>
		</form>
	</div>
</body>
</html>