<html>
<head>
<meta charset="utf-8">
<title>Sparrow - Login</title>
<link rel="stylesheet" href="/ui/login-style.css">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="/verifyPassword" class="form-signin">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="john@example.com" name="username" id="username" tabindex="1" autofocus>
            </div>
            <div class="input-group">
                <input class="form-control" type="password" placeholder="password" name="password" id="password" tabindex="2">
            </div>
            <div class="input-group">
                <input class="btn" type="submit" id="login" value="Login" tabindex="3">
            </div>
            <!-- DO NOT remove the below part -->
            <table style="display: none;">
                {{range $k, $v := .}}
                <tr>
                    <td><input type="hidden" name="{{$k}}" value="{{$v}}" /></td>
                </tr>
                {{end}}
            </table>
        </form>
    </div>
</body>
</html>