<html>
<head>
<meta charset="utf-8">
<title>Sparrow - Login</title>
<link rel="stylesheet" href="/ui/login-style.css">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="/verifyPassword" class="form-signin">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="john@example.com" name="username" id="username" tabindex="1" autofocus>
            </div>
            <div class="input-group">
                <input class="form-control" type="password" placeholder="password" name="password" id="password" tabindex="2">
            </div>
            <div class="input-group">
                <input class="btn" type="submit" id="login" value="Login" tabindex="3">
            </div>
            <!-- DO NOT remove the below part -->
            <table style="display: none;">
                {{range $k, $v := .}}
                <tr>
                    <td><input type="hidden" name="{{$k}}" value="{{$v}}" /></td>
                </tr>
                {{end}}
            </table>
        </form>
    </div>
</body>
<script type="application/javascript">
    if (!window.PublicKeyCredential) {
        console.log("useragent does not support Webauthn")
        alert("useragent does not support Webauthn")
    }

    function doPubKeyAuth(authReq) {
        var creds = new Array()
        for (var i = 0; i < authReq.credIds.length; i++) {
            var buf = Uint8Array.from(window.atob(authReq.credIds[i]), c => c.charCodeAt(0))
            var c = {
                id: buf.slice(1),
                type: "public-key"
            }
            creds.push(c)
        }
        var publicKey = {
            allowCredentials: creds,
            challenge: Uint8Array.from(window.atob(authReq.challenge), c => c.charCodeAt(0)),
            //rpId : authReq.rpId
            timeout: authReq.timeout,
            userVerification: authReq.userVerification
        }

        navigator.credentials.get({publicKey})
            .then(function (authResp) {
                console.log(authResp)
            }).catch(function (err) {
            console.log(err)
        });
    }
</script>
</html>