<html>
<head>
<meta charset="utf-8">
<title>POSTing SAML Response</title>
</head>
<body>
    <form method="post" action="{{.DestinationUrl}}">
        <input type="hidden" name="SAMLResponse" value="{{.ResponseText}}" />
        <input type="hidden" name="RelayState" value="{{.RelayStateVal}}" />
    </form>
    <script type="text/javascript">
	       document.forms[0].submit();
	</script>
</body>
</html>