<html>
<head>
<meta charset="utf-8">
<title>Sparrow - TOTP Registration</title>
<link rel="stylesheet" href="/ui/login-style.css">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="/registerTotp" class="form-signin" style="margin: 171px auto; max-width: 407px;">
            <div>Scan the below QR code using your OTP generating mobile app (e.x google authenticator)</div>
            <br />
            <div style="padding-left: 45px; padding-bottom: 5px;">
                <img id="qrcode" src="" />
            </div>
            <div style="padding-left: 45px;">
                <input type="submit" class="btn" value="Register" tabindex="1" autofocus/>
            </div>
            <!-- DO NOT remove the below part -->
            <table style="display: none;">
                {{range $k, $v := .paramMap}}
                <tr>
                    <td><input type="hidden" name="{{$k}}" value="{{$v}}" /></td>
                </tr>
                {{end}}
            </table>
        </form>
    </div>
    <script type="text/javascript">
        document.getElementById('qrcode').src = "{{.qrcode}}"
	</script>
</body>
</html>