<html>
<head>
<meta charset="utf-8">
<title>Sparrow - OTP Verification</title>
<link rel="stylesheet" href="/ui/login-style.css">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="/verifyPassword" class="form-signin" style="max-width: 316px;">
            <div>
                <div style="float: left; width: 30px; padding-top: 15px;">
                    <label>OTP:</label>
                </div>
                <div class="input-group" style="margin-left: 40px;">
                    <input type="text" id="otp" name="otp" tabindex="1" autofocus />
                </div>
            </div>
            <div class="input-group" style="margin-left: 40px;">
                <input type="button" class="btn" value="Next" onclick="sendOtp()" />
                </td>
            </div>
            <!-- DO NOT remove the below part -->
            <table style="display: none;">
                {{range $k, $v := .}}
                <tr>
                    <td><input type="hidden" name="{{$k}}" value="{{$v}}" /></td>
                </tr>
                {{end}}
            </table>
        </form>
    </div>
    <script type="text/javascript">
        function sendOtp() {
            var el = document.getElementById('otp');
            var otp = el.value.trim();
            if(otp.length >= 6) {
                document.forms[0].submit();
            }
            else {
                el.focus();
            }
        }
	</script>
</body>
</html>